*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
font-family: 'Prompt', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


body p{
    font-family: 'Prompt', sans-serif;
}

body h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

body h2{
    font-size: 32px;
    font-weight: 600;
}

.pagina {
    width: 1200px;
    margin: 0 auto;
    /*padding: 5px 15px;*/
}

figure {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    outline: none;
    font-family: 'Prompt', sans-serif;
}

nav {
    background-color: black;
    position: fixed;
    width: 1200px;
    top: 0;  
} 

.container1 {
    width: 1090px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
}
.container1 ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
    width: 990px;
    vertical-align: top;
    margin-top: 18px;
    margin-bottom: 18px;  
}

.container1 ul li {
    display: inline-block;
    margin-left: 50px;   
}

.container1 ul li a {
    color: white;
    font-size: 21px;
    display: block;
    height: 22px;
    width: 96px; 
}

.logo {
    display: inline-block;
    height: 54px;
    width: 54px;
    margin-right: 26px;
    vertical-align: top;
    margin-top: 7px;
    margin-bottom: 2px;
    margin-left: 65px;
}

.encabezado{
    width: 1200px;
    height: 836px;
    background-image: url(img/fondo-hoja-arrugada.jpg);
    padding: 1%;
}

.encabezado h1{
    padding-top: 257px;
    padding-bottom: 23px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 96pt;
    font-weight: bold;
}

.encabezado p{
    text-align: center;
    font-size: 32pt;
}

.contenedor{
    width: 1200px;
    height: 641px;
    padding-left: 487px;
    padding-right: 10px;
    padding-top: 73px;
    padding-bottom: 65px;
    margin: 0 auto;
    background-color: black;
    color: #FFFFFF;
    background-image: url(img/figura-abstracta.jpg);
    background-position: -150px;
    background-repeat: no-repeat;
    align-content: flex-start;
}

#Servicios h2{
    margin-left: 190px;
    margin-right: 312px;
    margin-bottom: 60px;
}

.caja-servicios-izq{
    width: 282px;
    height: 180px;
    float: left;
    display: flex;
    justify-content: space-around; 
}

.caja-servicios-izq h3 p{
    font-size: 16pt;
}

.caja-servicios-izq h3{
    margin-bottom: 10px;
    font-weight: 600;
}

.caja-servicios-der{
    width: 282px;
    height: 180px;
    float: right;
    margin-right: 54px;
    display: flex;
    justify-content: space-around; 
}

.caja-servicios-der h3 p{
    font-size: 16pt;
}

.caja-servicios-der h3{
    margin-bottom: 10px;
    font-weight: 600;
}

.contenedor4 {
    width: 1090px;
    height: 1232px;
    padding-top: 95px;
    padding-bottom: 115px;
    margin-left: 55px;
    margin-right: 55px;
    
}
.contenedor4 h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fotos article {
    padding-top: 72px;
}

#Nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.equipo{
    color: #FFFFFF;
    background-image: url(img/figura-abstracta-fondo.jpg);
    width: 1200px;
    height: 900px;
    text-align: center;
    padding-left: 114px;
    padding-right: 114px;
}

.equipo h2{
    margin-top: 100px;
    margin-bottom: 95px;
}

.equipo p{
    font-size: 24px;
}

.contenedor-equipo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;

}

.contenedor-equipo h3{
    margin-top: 25px;
}

.contenedor-equipo p{
    font-size: 16px;
    margin-top: 10px;
}

.text1 {
    text-align: center;
    width: 500px;
    height: 39px;
    margin-top: 150px;
    margin-bottom: 22px;
    margin-left: 385px;
    color: black;
}

.text2 { 
    text-align: center;
    font-size: 24px;
    width: 898px;
    height: 624px;
    left: 1320px;
    top: 15998px;
    color: black;
    background-image: url(img/post-it.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 200px;
    padding: 200px;
}

.resenas{
    margin-bottom: 250px;
}

.resenas h2{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 89px;
}

.resenas-box{
    width: 1200px;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resenas-article{
    width: 550px;
    height: 360px;
    font-size: 24px;
    color: black;
    border-image: linear-gradient(90deg, #7CA6FF, #FF4694);
    border-image-slice: 1;
    border-width: 4px;
    border-style: solid;
    border-radius: 25px;
    background-image: url(img/cinco-estrellas.png);
    background-repeat: no-repeat;
    background-size: 80px 15px;
    background-position: 25px 30px;
}

.texto-resena{
    font-size: 24px;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;       
}
.nombre-resena{
    margin-left: 175px;
    margin-bottom: 40px;
    margin-top: 25px;
}

.contactanos{
    background-color: black;
    color: #FFFFFF;
    background-image: url(img/figuras-abstractas-humo-colores.jpg);
    background-position: 762px;
    width: 1200px;
    height: 714px;
    padding-left: 109px;
    padding-right: 575px;
    padding-top: 80px;
    padding-bottom: 82px;
    margin: 0 auto;
    background-color: black;
    color: #FFFFFF;
    background-repeat: no-repeat;
}

#Contacto h2{
    padding-left: 200px;
    padding-bottom: 40px;
}

.recibi-info p{
    width: 535px;
    font-size: 22px;
    text-align: left;
    margin-bottom: 40px;
}

.boton-contacto{
    width: 338px;
    height: 63px;
    line-height: 63px;
    font-size: 24px;
    text-align: center;
    color: white;
    border-image: linear-gradient(90deg, #7CA6FF, #FF4694);
    border-image-slice: 1;
    border-width: 4px;
    border-style: solid;
    border-radius: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 95px;
}

.mapa h2{
    padding-top: 70px;
    padding-left: 450px;
    padding-right: 450px;
    padding-bottom: 50px;
    text-align: center;
}

.container10 {
    width: 1200px;
    height: 83px;
    margin: 0 auto;
    margin: 0px;
    padding: 15px 0px;
    
    
}

.container10 article {
    display: inline-block;
    
}

.copyright {
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 450px;
}

.redes ul{
    width: 500px;
    height: 83px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    
    
}
.redes ul li {
    display: inline-block;
    margin-left: 55px;
}
